<?xml version="1.0"?>

<launch>
    <!-- File management -->
    <!-- <arg name="config_fp" default="configs/test_throttle_config.yaml"/> -->

	<node pkg="context_adaptation" type="cost_publisher_updated.py" name="roughness_cost" output="screen">
        <param name="cost_stats_dir" value="wanda_cost_statistics.yaml"/>
	</node>

	<node pkg="context_adaptation" type="terrain_mismatch.py" name="terrain_mismatch" output="screen">
	</node>

	<!-- # cost_topic = '/traversability_cost'
	# odom_topic = '/lester/odom'
	# im_topic = '/lester/stereo_left/image_rect_color/compressed' -->

</launch>
