<?xml version="1.0"?>

<launch>
    <!-- File management -->
    <!-- <arg name="config_fp" default="configs/test_throttle_config.yaml"/> -->
    <!-- <arg name="config_fp" default="CC_big_model_new_config.yaml"/> -->
    <arg name="config_fp" default="GP_anymal.yaml"/>

	<!-- <node pkg="context_adaptation" type="dino_costmap.py" name="context_clustering" output="screen"> -->
  <!-- <node pkg="context_adaptation" type="dino_costmap_gp_speed_input.py" name="context_clustering" output="screen"> -->

  <!-- <node pkg="context_adaptation" type="dino_costmap_gp_speed_output.py" name="context_clustering" output="screen"> -->
  <node pkg="context_adaptation" type="dino_costmap_gp_speed_input_output_anymal.py" name="context_clustering" output="screen">
  <!-- <node pkg="context_adaptation" type="dino_costmap_gp_speed_input_output_nn.py" name="context_clustering" output="screen"> -->

  <!-- <node pkg="context_adaptation" type="dino_costmap_gp_latent_input.py" name="context_clustering" output="screen"> -->



  <!-- <node pkg="context_adaptation" type="dino_costmap.py" name="context_clustering" output="screen"> -->

        <param name="config_file" value="$(find context_adaptation)/assets/costmap_configs/$(arg config_fp)"/>

				<param name="cost_topic" value="/wild_visual_navigation_node/instant_traversability"/>
				<param name="odom_topic" value="/state_estimator/pose_in_odom"/>
				<param name="gridmap_topic" value="/dino_gridmap"/>
				<param name="costmap_topic" value="/shortrange_costmap"/>
				<param name="vel_pub_topic" value="/controller/target_input"/>

				<param name="viz" value='False'/>
				<param name="pub_anchors" value='False'/>
				<param name="pub_stats" value='True'/>
	</node>



</launch>
